
    <footer class="bg-light text-center text-white">

     <div class="container p-4 pb-0">
      <section class="mb-4">

        <!-- Facebook -->
        <a
          class="btn btn-primary btn-floating m-1 px-3"
          style="background-color: #3b5998;"
          href="https://www.facebook.com/profile.php?id=100007235853163"
          role="button"
          target="_blank"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
  
        <!-- Linkedin -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #0082ca;"
          href="https://www.linkedin.com/in/mahmoud-salah-a78a701b7/"
          role="button"
          target="_blank"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #333333;"
          href="https://github.com/Mahmoud23199"
          role="button"
          target="_blank"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #7f4722;">
      © 2024 Copyright:
      <a class="text-white" target="_blank" href="https://mahmoud23199.github.io/MyPortfolio-using-Html-5--Css-3--Bootstrap-Js/">Mahmoud Salah-Portfolio.com</a>
    </div>
    <!-- Copyright -->
  </footer>
    